*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
li{
  text-decoration: none;
  list-style: none;
}
body{
  font-family: 'Roboto', sans-serif;
}
.graphiclogo{
  font-weight: bold;
  font-size: 30px;
  color: #000;
}
.graphiclogo :hover{
  border-bottom: 2px solid #d7d7d7;
}
